@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>
@if (currentCount > 5)
{
    <p>@saludo</p>
}

<button type="button" class="btn btn-primary" @onclick="@IncrementCount">Click me</button>

@code { 
    int currentCount = 0;
    string saludo = "hola";


            void IncrementCount()
            {
                currentCount++;
            } }
